\bigskip
\begin{minipage}[t]{0.495\textwidth}
<<# left >>
  \textbf{<< title >>} <<# content >><< . >> <</ content >><<# link >>\href{<< to >>}{<< content >>}<</ link >>\\
<</ left >>
\end{minipage} % Don't use empty lines after \end and the next \begin{minipage}.
\begin{minipage}[t]{0.495\textwidth}
<<# right >>
    \textbf{<< title >>} <<# content >><< . >> <</ content >><<# link >>\href{<< to >>}{<< content >>}<</ link >>\\
<</ right >>
\end{minipage}
