<<# ruler >>\resumeruler<</ ruler >>
\section{<< title >>}

\begin{itemize}
\tightlist
<<# list >>
\item \textbf{<< title >>}<<# summary >>: << . >><</ summary >><<# institution >>. <<.>><</institution>> << date >>
<</list>>
\end{itemize}
