<<# ruler >>\resumeruler<</ ruler >>
\section{<< title >>}

\begin{itemize}
\tightlist
<<# list >>
\item \textbf{<< title >>}<<# summary >>: << . >><</ summary >><<# institution >>. <<.>><</institution>><<# date >>. << . >><</date>>
<</list>>
\end{itemize}
