<<# ruler >>\resumeruler<</ ruler >>
\section{<< title >>}

<<# list >>
\subsection{<< company >>, << role >>\hfill \small << date.start >><<# date.end >> - << . >><</ date.end >>}
<< summary >>
\begin{itemize}
\tightlist
<<# highlights >>
\item << . >>
<</ highlights >>
\end{itemize}
<</ list >>
