<<# ruler >>\resumeruler<</ ruler >>
\section{<< title >>}

\begin{itemize}
\tightlist
<<# list >>
\item \textbf{<< title >>}: <<# link >>\href{<< to >>}{<< content >>}<</ link >><<# date >>. << . >><</date>>
<</ list >>
\end{itemize}
