<<# ruler >>\resumeruler<</ ruler >>
\section{<< title >>}

\begin{itemize}
\tightlist
<<# list >>
\item \textbf{<< title >>}: << summary >>. <<# link >>\href{<< to >>}{<< content >>}<</ link >>
<</list>>
\end{itemize}