{{# summary }}
{{ title_header }} {{ title }}

{{ text }}
{{/summary}}

{{# experience }}
{{ title_header }} {{ title }}

{{# list }}
{{ subtitle_header }} {{ title }}

{{ text }}
{{/list}}
{{/experience}}

{{# education }}
{{ title_header }} {{ title }}

{{# list }}
{{ subtitle_header }} {{ title }}

{{ text }}
{{/list}}
{{/education}}

{{# courses }}
{{ title_header }} {{ title }}

{{# list }}
{{ subtitle_header }} {{ title }}

{{ text }}
{{/list}}
{{/courses}}

{{# github }}
{{ title_header }} {{ title }}

{{# list }}
{{ subtitle_header }} {{ title }}

{{ text }}
{{/list}}
{{/github}}

{{# other }}
{{ title_header }} {{ title }}

{{# list }}
{{ subtitle_header }} {{ title }}

{{ text }}
{{/list}}
{{/other}}

{{# footnotes }}
[^{{ index }}]: {{ content }}
{{/footnotes}}