<!-- Summary -->

{{# summary }}
# {{ title }}

{{ body }}
{{/summary}}

<!-- Experience -->

{{# experience }}
# {{ title }}

{{# list }}
## {{ title }}

**{{from}} - {{to}}** {{short}}

{{ body }}

{{/list}}
{{/experience}}

<!-- Education -->

{{# education }}
# {{ title }}

{{# list }}
- **{{ title }}**. {{date}}. {{ center }}
{{/list}}
{{/education}}

<!-- Formation -->

{{# formation }}
# {{ title }}

{{# list }}
- **{{ title }}**, {{ date }} {{ body }} <{{{link}}}>
{{/list}}
{{/formation}}

<!-- Github -->

{{# github }}
# {{ title }}

{{# list }}
- **{{ title }}**. {{ summary }} <{{{ link }}}>
{{/list}}
{{/github}}

<!-- Other information -->

{{# other }}
# {{ title }}

{{# list }}
- **{{ title }}**. {{ summary }}
{{ body }}

{{/list}}
{{/other}}
